<div class="listing">
  <%= image_tag "book-placeholder.jpg", alt: "Listing image", class: "listing__img" %>
  <h5 class="listing__price">$<%= listing.price %></h5>
  <div class="listing__book-title">
    <p><%= listing.title %></p>
  </div>
  <div class="listing__seller">
    <%= display_avatar(user: listing.seller, style: "listing__seller-img", size: 30) %>
    <p><%= listing.seller.first_name %></p>
  </div>
  <div class="listing__location">
    <%= display_icon(icon: "location") %>
    <p>1.2 mi away</p>
  </div>
  <div class="listing__tags">
    Tags: 
    <% listing.tag_names.each do |tag| %>
      <%= link_to tag, buyers_path(q: tag), class: "listing__tag" %>
    <% end %>
  </div>
  <%= link_to "View Listing", listing_path(listing), class: "btn listing__btn", id: "listing-#{listing.id}-show" %>
</div>