<div class="listing">
  <%= display_feature_image(listing) %>
  <h5 class="listing__price">$<%= listing.price %></h5>
  <div class="listing__book-title">
    <p><%= listing.book.title %></p>
  </div>
  <div class="listing__tags">
    <% listing.tag_names.each do |tag| %>
      <%= link_to tag, buyers_path(q: tag), class: "listing__tag" %>
    <% end %>
  </div>
  <%= link_to "View Listing", listing_path(listing), class: "btn listing__btn", id: "listing-#{listing.id}-show" %>
</div>