<%= form_with model: [@book, @listing] do |f| %>

  <div class="form-group">
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true, id: "images-field", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, id: "title-field", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.rich_text_area :body, id: "body-field", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :condition %>
    <%= f.select :condition, Listing.conditions.keys %>
  </div>
  
  <div class="form-group">
    <%= f.label :price_cents %>
    <%= f.text_field :price_cents, id: "price-cents-field", class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :tags, value: "Tags" %>
    <%= f.text_field :tags_as_string, id: "tag-names-field" %>
  </div>
  
  <div>
    <%= f.submit "Post", id: "listing-submit-btn" %>
  </div>

<% end %>