<% if current_user %>
  <%= render partial: "conversations/conversation", locals: { conversations: @conversations, listing: @listing } %>
<% else %>
  <%= link_to "Login to send #{@listing.seller.first_name} a message.", new_user_session_path, id: "convo-sign-in" %>
<% end %>

<h1><%= @listing.title %></h1>
<p><%= @listing.body %></p>
<h3><%= @listing.seller.last_name %></h3>

<p>$<%= @listing.price %></p>
<p><%= @listing.book.title %></p>
<p><%= @listing.tag_names %></p>

<div class="row">
  <div class="col-md-12">
    <%= static_google_map(@listing.seller.longitude, @listing.seller.latitude) %>
  </div>
</div>

<ul>
  <% @listing.images.each do |img| %>
    <li>
      <%= image_tag img %>
    </li>
  <% end %>
</ul>