<% if current_user %>
  <%= render partial: "conversations/conversation", locals: { conversations: @conversations, listing: @listing } %>
<% else %>
  <%= link_to "Login to send #{@listing.seller.first_name} a message.", new_user_session_path, id: "convo-sign-in" %>
<% end %>

<h1><%= @listing.title %></h1>
<p><%= @listing.body %></p>
<h3><%= @listing.seller.last_name %></h3>

<p>$<%= @listing.price %></p>
<p><%= @listing.book.title %></p>
<p><%= @listing.tag_names %></p>

<div class="row">
  <div class="col-md-12">
    <%= static_google_map(@listing.seller.longitude, @listing.seller.latitude) %>
  </div>
</div>

<ul>
  <% @listing.images.each do |img| %>
    <li>
      <%= image_tag img %>
    </li>
  <% end %>
</ul>

<% if current_user %>
  <div class="chatbox">
    <div class="chatlogs">
      <div class="chat">
        <%= display_avatar(user: @listing.seller, style: "chat__photo") %>
        <p class="chat__message chat__message--seller">What's, up</p>
      </div>
      <div class="chat">
        <%= display_avatar(user: current_user, style: "chat__photo") %>
        <p class="chat__message chat__message--current-user">Yo!!!!</p>
      </div>
    </div>

    <div class="chat-form">
      <textarea placeholder="Type your message..." class="chat-form__message-box"></textarea>
      <button class="chat-form__btn">Send</button>
    </div>
  </div>
<% end %>