<h1><%= @listing.title %></h1>
<p><%= @listing.body %></p>
<h3><%= @listing.seller.last_name %></h3>

<p>$<%= @listing.price %></p>
<p><%= @listing.book.title %></p>



t.string "title"
    t.datetime "created_at", precision: 6, null: false
    t.datetime "updated_at", precision: 6, null: false
    t.integer "seller_id"
    t.integer "price_cents", default: 0, null: false
    t.bigint "book_id", null: false
    t.index ["book_id"], name: "index_listings_on_book_id"