<div class="listing-show-container">
  <div class="listing-details__container">


    <!---------------------- Listing Images ---------------------->

    <div class="listing-details__images">
      <% @listing.images.each_with_index do |img,i| %>
        <figure class="listing-details__img-container">
          <%= image_tag(img, class: "listing-details__img", id: "listing-details__img--#{i}") %>
        </figure class="listing-details__img-container">

        <div class="modal" id=<%= "listing-details__img-modal--#{i}" %>>
          <div class="modal-content">
            <span class="closeBtn">&times;</span>
            <%= image_tag(img, class: "modal__img") %>
          </div>
        </div>
      <% end %>
    </div>
    

    <!---------------------- Listing Overview ---------------------->

    <div class="listing-details__overview">
      <%= display_avatar(user: @listing.seller, style: "listing-details__seller-avatar") %>
      <h3 class="listing-details__title"><%= @listing.seller.display_name %></h3>

      <div class="listing-details__seller-stars">
        <% 5.times do  %>
          <%= display_icon(icon: "star", style: "listing-details__star-icon") %>
        <% end %>
      </div>  

      <div class="listing-details__location">
        <%= display_icon(icon: "location-pin", style: "listing-details__location-icon") %>
        <span class="listing-details__seller-location">Fairfax, VA</span>
      </div>
    </div>
    

    <!---------------------- Listing Details ---------------------->

    <div class="listing-details">
      <div class="listing-details__main">
        
        <div class="blockquote">
          <p><%= @listing.body %></p>   
        </div>
        
        <ul class="listing-details__list">
          <li class="listing-details__list-item">
            <%= display_icon(icon: "chevron-right", style: "listing-details__chevron") %>
            <span class="listing-details__list-item-header">Book Title:</span> <%= @listing.book.title %>
          </li>
          <li class="listing-details__list-item">
            <%= display_icon(icon: "chevron-right", style: "listing-details__chevron") %>
            <span class="listing-details__list-item-header">ISBN:</span> <%= @listing.book.isbn %>
          </li>
          <li class="listing-details__list-item">
            <%= display_icon(icon: "chevron-right", style: "listing-details__chevron") %>
            <span class="listing-details__list-item-header">Condition:</span> <%= @listing.condition.humanize %>
          </li>
          <li class="listing-details__list-item">
            <%= display_icon(icon: "chevron-right", style: "listing-details__chevron") %>  
            <span class="listing-details__list-item-header">Price:</span> $<%= @listing.price %>
          </li>
          <li class="listing-details__list-item">
            <%= display_icon(icon: "chevron-right", style: "listing-details__chevron") %>
            <span class="listing-details__list-item-header">Tags:</span> 
            <div class="listing-details__tags">
              <% @listing.tag_names.each do |tag| %>
                <%= link_to tag, buyers_path(q: tag), class: "listing-details__tag" %>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
      <div class="listing-details__sub">
        <%= static_google_map(long: @listing.seller.longitude, lat: @listing.seller.latitude, style: "listing-details__map") %>  
      </div>
    </div>
  </div>


  <!---------------------- Listing Conversation ---------------------->

  <div class="conversation-container">
    <% if (current_user == @listing.seller) && (!@listing.has_messages?) %>
      No Messages Yet
    <% elsif current_user && current_user == @listing.seller %> 
      <div class="conversation__avatars">
        <% @conversations.each do |conversation| %>
          
            <div class="conversation__avatar-box">
              <%= link_to "#", class: "convo-show-link", id: "convo-link-btw-#{conversation.seller_id}-#{conversation.buyer_id}", data: { seller_id: conversation.seller_id, buyer_id: conversation.buyer_id } do %>
                <%= display_avatar(user: conversation.buyer, style: "conversation__avatar") %>
                <span class="conversation__avatar-display_name"><%= conversation.buyer.display_name %></span>
            <% end %>
            </div>
        <% end %>
      </div>
      
      <%= render partial: "conversations/conversation", collection: @conversations, locals: { listing: @listing } %>
    <% elsif current_user %>
      <%= render partial: "conversations/conversation", collection: @conversations, locals: { listing: @listing } %>
    <% else %>
      <div class="unauth-container">
        <%= image_tag("patriot-bg.png", class: "unauth-img") %>
        <%= link_to "Login to send #{@listing.seller.first_name} a message", new_user_session_path, class: "convo-login-btn", id: "convo-sign-in" %>    
      </div>
    <% end %>
  </div>
</div>