<!-- TODO: Refactor book details to partial -->
<h1>Sellers#index</h1>

<%= form_tag sellers_path, method: :get do %>
  <%= text_field_tag :q, nil %>
<% end %>

<% if @book %>
  <ul>
    <li>
      <%= image_tag @book.image %>
    </li>
    <li>
      Title: <%= @book.title %> <br>    
    </li>
    <li>
      ISBN: <%= @book.isbn %>    
    </li>
    <li>
      Publisher: <%= @book.publisher %>    
    </li>
    <li>
      Date Published: <%= @book.published_date %>
    </li>
    <li>
      Authors: <%= @book.authors %>
    </li>
    <li>
      Description: <%= @book.description %>
    </li>
    <li>
      <%= link_to "Sell this book", new_book_listing_path(@book) %>
    </li>
  </ul>
<% end %>