<!-- TODO: Refactor -->
<div>
  <% if conversations.any? %>
    <% conversations.each do |conversation| %>
      <div id=<%= "conversation-btw-#{conversation.seller_id}-#{conversation.buyer_id}" %>>
        <% conversation.messages.includes(:user).each do |message| %>
          <div>
            <%= message.user.first_name %>:
            <%= message.body %>
          </div>
        <% end %>
      </div>
      <div>
        <%= form_with model: [conversation, conversation.messages.new], id: "new-message-form" do |f| %>
          <%= f.text_area :body, id: "new-message-body-#{current_user.id}" %>
          <%= f.submit "Send", id: "send-message-btn" %>
        <% end %>
      </div>
    <% end %>
  <% elsif current_user != listing.seller %>
    <%= link_to "Start a convo", listing_conversations_path(listing), method: :post, id: "create-#{listing.seller.id}-#{current_user.id}-conversation" %>
  <% end %>
</div>