<nav class="navigation">
  <%= link_to root_path do %>
    <%= image_tag "logo.png", alt: "PatriotSwap logo", class: "navigation__logo" %>
  <% end %>
  
  <%= form_with url: buyers_path, method: :get, local: true, class: "search" do |f| %>
    <%= f.text_field :q, placeholder: "Search books by class, isbn, or title...", class: "search__input", id: "listing-search-field" %>
    <% link_to buyers_path do %>
      <%= display_icon(icon: "magnifying-glass", style: "search__icon", id: "listing-search-submit") %>
    <% end %>
    <%= f.submit "Submit", id: "listing-search-submit" %>
  <% end %>

  <div class="user-nav">
    <div class="user-nav__icon-box">
      <%= link_to "Sell", sellers_path, class: "user-nav__sell-btn", id: "nav-sell-btn" %>
    </div>
    
    <% if current_user %>
      <div class="user-nav__icon-box">
        <%= display_icon(icon: "bell", style: "user-nav__icon") %>
        <span class="user-nav__notification">7</span>
      </div>
    <% else %>
      <%= link_to user_facebook_omniauth_authorize_path do %>
        <%= image_tag "fb-login.png", class: "user-nav__fb-btn" %>
      <% end %>
    <% end %>

    <div class="user-nav__icon-box">
      <% if current_user %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, id: "logout-link" %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, id: "signin-link" %> /
        <%= link_to "Sign Up", new_user_registration_path, id: "signup-link" %>
      <% end %>
    </div>
    
    <% if current_user %>
      <div class="user-nav__user">
        <%= link_to edit_user_registration_path do %>
          <%= display_avatar(user: current_user, style: "user-nav__avatar") %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="toggle">
    <input type="checkbox">

    <span></span>
    <span></span>
    <span></span>

    <ul class="toggle-menu">
      <li>
        <%= link_to "Sign In", new_user_session_path, id: "signin-link--mobile" %>
      </li>
      <li>
        <%= link_to "Sign Up", new_user_registration_path, id: "signup-link--mobile" %>
      </li>
    </ul>
  </div>
</nav>
