<section class="section-hero">
  <div class="hero__text-box">
    <h1 class="hero__heading-primary">
      <span class="hero__heading-primary--main">A better way to</span>
      <span id="typed"></span>
    </h1>
    
    <div class="hero__btn-box">
      <div class="hero__btn">
        <%= link_to "Browse Listings", buyers_path, class: "btn btn-white", id: "browse-listings-link" %>  
      </div>
      <div class="hero__btn">
        <%= link_to "Sell Your Book", sellers_path, class: "btn btn-white-inv", id: "sellers-link" %>
      </div>
    </div>
  </div>
</section>

<section class="section-features">
  <div class="feature">
    <%= display_icon(icon: "shopping-cart", style: "feature__icon") %>
    <h4 class="heading-4">Save Money</h4>
    <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, magni omnis ea a cum autem, voluptatibus suscipit pariatur excepturi ab accusamus.</p>
  </div>
  
  <div class="feature">
    <%= display_icon(icon: "emoji-happy", style: "feature__icon") %>
    <h4 class="heading-4">Save Money</h4>
    <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, magni omnis ea a cum autem, voluptatibus suscipit pariatur excepturi ab accusamus.</p>
  </div>

  <div class="feature">
    <%= display_icon(icon: "cycle", style: "feature__icon") %>
    <h4 class="heading-4">Save Money</h4>
    <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, magni omnis ea a cum autem, voluptatibus suscipit pariatur excepturi ab accusamus.</p>
  </div>

  <div class="feature">
    <%= display_icon(icon: "chat", style: "feature__icon") %>
    <h4 class="heading-4">Save Money</h4>
    <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, magni omnis ea a cum autem, voluptatibus suscipit pariatur excepturi ab accusamus.</p>
  </div>

  <div class="feature">
    <%= display_icon(icon: "direction", style: "feature__icon") %>
    <h4 class="heading-4">Save Money</h4>
    <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, magni omnis ea a cum autem, voluptatibus suscipit pariatur excepturi ab accusamus.</p>
  </div>

  <div class="feature">
    <%= display_icon(icon: "location-pin", style: "feature__icon") %>
    <h4 class="heading-4">Save Money</h4>
    <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, magni omnis ea a cum autem, voluptatibus suscipit pariatur excepturi ab accusamus.</p>
  </div>
</section>



