<section class="section-hero">
  <div class="hero__text-box">
    <h1 class="hero__heading-primary">
      <span class="hero__heading-primary--main">PatriotSwap</span>
      <span class="hero__heading-primary--sub">Buy.Sell.Trade</span>
    </h1>
    
    <%= link_to "Browse Listings", buyers_path, class: "btn btn-white", id: "browse-listings-link" %>
  </div>
</section>

<section class="section-features">
  <div class="feature">
    <%= display_icon("shopping-cart", "feature__icon") %>
    <h4 class="heading-4">Save Money</h4>
    <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, magni omnis ea a cum autem, voluptatibus suscipit pariatur excepturi ab accusamus.</p>
  </div>
  
  <div class="feature">
    <%= display_icon("emoji-happy", "feature__icon") %>
    <h4 class="heading-4">Save Money</h4>
    <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, magni omnis ea a cum autem, voluptatibus suscipit pariatur excepturi ab accusamus.</p>
  </div>

  <div class="feature">
    <%= display_icon("cycle", "feature__icon") %>
    <h4 class="heading-4">Save Money</h4>
    <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, magni omnis ea a cum autem, voluptatibus suscipit pariatur excepturi ab accusamus.</p>
  </div>

  <div class="feature">
    <%= display_icon("chat", "feature__icon") %>
    <h4 class="heading-4">Save Money</h4>
    <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, magni omnis ea a cum autem, voluptatibus suscipit pariatur excepturi ab accusamus.</p>
  </div>

  <div class="feature">
    <%= display_icon("direction", "feature__icon") %>
    <h4 class="heading-4">Save Money</h4>
    <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, magni omnis ea a cum autem, voluptatibus suscipit pariatur excepturi ab accusamus.</p>
  </div>

  <div class="feature">
    <%= display_icon("location-pin", "feature__icon") %>
    <h4 class="heading-4">Save Money</h4>
    <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, magni omnis ea a cum autem, voluptatibus suscipit pariatur excepturi ab accusamus.</p>
  </div>
</section>



