<%= render "shared/whos_there" if session[:whos_there] %>

<section class="section-hero">
  <div class="hero__text-box">
    <h1 class="hero__heading-primary">
      <span class="hero__heading-primary--main">Skip the Bookstore.</span>
      <span>A better way to...</span>
      <u><span id="typed"></span></u>
      <span>textbooks.</span>
    </h1>
    
    <div class="hero__btn-box">
      <div class="hero__btn">
        <%= link_to "Browse Listings", buyers_path, class: "btn btn-white", id: "browse-listings-link" %>  
      </div>
      <div class="hero__btn">
        <%= link_to "Sell Your Book", sellers_path, class: "btn btn-white-inv", id: "sellers-link" %>
      </div>
    </div>
  </div>
</section>

<section class="section-features">
  <div class="feature">
    <%= display_icon(icon: "moneybag", style: "feature__icon") %>
    <h4 class="heading-4">Save Money</h4>
    <p class="feature__text">
      Textbooks are <span class="strong">crazy expensive.</span>
      Get your books for a <span class="strong">fraction</span> of the bookstore price. 
      Filter listings that fit within <span class="strong">your budget</span> and <span class="strong">bargain</span> with sellers.
    </p>
  </div>
  
  <div class="feature">
    <%= display_icon(icon: "dollar", style: "feature__icon") %>
    <h4 class="heading-4">Make Money</h4>
    <p class="feature__text">
      Textbook buyback season is limited and a rip-off. 
      Examine the condition of your book and set a price that 
      <span class="strong">you think is appropriate</span>. 
    </p>
  </div>

  <div class="feature">
    <%= display_icon(icon: "chat", style: "feature__icon") %>
    <h4 class="heading-4">Communication</h4>
    <p class="feature__text">
      Buyers and Sellers can communicate through instant messaging and,
      if you allow us to, we will send those messages <span class="strong">directly to your phone or email</span> so you are in the know.
    </p>
  </div>

  <div class="feature">
    <%= display_icon(icon: "magnifying-glass", style: "feature__icon") %>
    <h4 class="heading-4">We Search for You</h4>
    <p class="feature__text">
      No local results? <span class="strong">We'll search the most popular sites for the best deal.</span> 
      We'll show you these results even when there are local results 
      to ensure you get the best deal possible.
    </p>
  </div>

  <div class="feature">
    <%= display_icon(icon: "truck", style: "feature__icon") %>
    <h4 class="heading-4">Delivery</h4>
    <p class="feature__text">
      Setting up a location and time to meet can be a pain. 
      No worries...<span class="strong">We'll do it for you!</span>
      Look out for the truck icon on listings. When this icon is present,
      we will pickup the book from the seller and deliver it straight to your door. 
    </p>
  </div>

  <div class="feature">
    <%= display_icon(icon: "location-pin", style: "feature__icon") %>
    <h4 class="heading-4">Location Based</h4>
    <p class="feature__text">
      GMU is a commuter school. Students live all over the DMV area and have different schedules,
      which can make it difficult to meet on campus. 
      We give you the general location of a seller to make sure you don't have to travel far.
    </p>
  </div>
</section>



