<ul>
  <li>
    <%= image_tag book.image_link %>
  </li>
  <li>
    Title: <%= book.title %> <br>    
  </li>
  <li>
    ISBN: <%= book.isbn %>    
  </li>
  <li>
    Publisher: <%= book.publisher %>    
  </li>
  <li>
    Date Published: <%= book.published_date %>
  </li>
  <li>
    Authors: <%= book.authors %>
  </li>
  <li>
    Description: <%= book.description %>
  </li>
  <li>
    <%= link_to "Sell this book", book_from_google_path(isbn: book.isbn), id: "sell-book-#{book.isbn}" %>
  </li>
</ul>