<div class="devise-form__container">
  <div class="devise-form__form-container">
    <div class="devise-form__form">
      <h3 class="form__heading">Login</h3>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form") do |f| %>
        <div class="form__group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form__input", id: "email-field", placeholder: "Email" %>
          <%= f.label :email, class: "form__label" %>
        </div>

        <div class="form__group">
          <%= f.password_field :password, autocomplete: "current-password", class: "form__input", id: "password-field", placeholder: "Password" %>
          <%= f.label :password, class: "form__label" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form__group">
            <div class="form__group">
              <div class="form__checkbox-group">
                <%= f.check_box :remember_me, class: "form__checkbox-input" %>
                <%= f.label :remember_me, class: "form__checkbox-label" do %>
                  <span class="form__checkbox"></span>
                  Remember me
                <% end %>
              </div>
            </div>        
          </div>
        <% end %>
        
        <div class="form__group">
          <button type="submit" class="form__submit-btn" id= "submit-btn">Login &rarr;</button>
        </div>
      <% end %>
      
      <div class="form__devise-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
